<div class="row">
    <div class="col">Enter your question</div>
</div>
<div class="row form-group">
    <div class="col"><input type="text" class="form-control" /></div>
</div>

<div class="row">
    <div class="col">Enter response type</div>
</div>
<div class="row form-group">
    <div class="col">
        <select class="custom-select">
            <option selected>Single Line</option>
            <option value="1">Multi Line</option>
            <option value="2">Single Select option</option>
            <option value="3">multi select option</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col">Validation</div>
</div>
<div class="row">
    <div class="col">Validation</div>
</div>
