<h5>
    {{dialogData.surveyName}}
</h5>
<form [formGroup]="searchForm">
    <div class="row form-group">
        <div class="col-3">From</div>
        <div class="col-4">
            <input type="date" formControlName="from" class="form-control" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-3">To</div>
        <div class="col-4">
            <input type="date" formControlName="to" class="form-control" />
        </div>
    </div>
    <div class="row form-group">
        <div class="col-1"></div>
        <div class="col-2">
            <button type="button" class="btn btn-primary" (click)="resetForm()">Reset</button>
        </div>
        <div class="col-3">
            <button type="button" class="btn btn-primary" (click)="getResults()">Get Results</button>
        </div>
    </div>
</form>
<div class="row form-group">
    <div class="col-1"></div>
    <div class="col-4">
        <button type="button" class="btn btn-primary" (click)="exportToCsv()">Export To CSV</button>
    </div>
</div>